.ui.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ui.medium.images .image, .ui.medium.images img {
    height: 235px;
    width: 100%;
}
.ui.medium.images .image:hover, .ui.medium.images:hover img:hover {
    box-shadow: 4px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}

@media (min-width: 550px) {
    .ui.medium.images .image, .ui.medium.images img {
        width: 49%;
    }
}

@media (min-width: 769px) {
    .ui.medium.images .image, .ui.medium.images img {
        width: 32%;
    }
}